.sabya {
  nav {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 99;

    // height: 50px;
    background: linear-gradient(45deg, #fff, #fff);
  }

  .list {
    list-style-type: none;
    // background: linear-gradient(45deg, rgb(156, 14, 156), midnightblue);
    background: linear-gradient(45deg, #fff, #fff);
    // height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }
  .items {
    margin-right: 20px;
    font-size: 20px;
    text-transform: uppercase;
    color: #000;
    cursor: pointer;
  }

  .btn {
    display: none;
    position: absolute;
    right: 10px;
    top: 7px;
    // padding: 5px;
    color: #000;
    font-size: 18px;
    .container {
      display: inline-block;
      cursor: pointer;
      .bar1,
      .bar2,
      .bar3 {
        width: 30px;
        height: 3.5px;
        background-color: #333;
        margin: 4px 0;
        transition: 0.4s;
      }
    }
    .change {
      display: inline-block;
      cursor: pointer;
      .bar1,
      .bar2,
      .bar3 {
        width: 30px;
        height: 3.5px;
        background-color: #333;
        margin: 4px 0;
        transition: 0.4s;
      }
      .bar1 {
        transform: translate(0, 7px) rotate(-45deg);
      }

      .bar2 {
        opacity: 0;
      }

      .bar3 {
        transform: translate(0, -7px) rotate(45deg);
      }
    }
  }

  @media screen and (max-width: 500px) {
    .list {
      flex-direction: column;
      height: auto;
    }
    .items:nth-child(1) {
      border-top: 1px solid rgba(255, 255, 255, 0.555);
      // margin-top: 50px;
    }
    .items {
      width: 100%;
      border-top: 1px solid rgba(255, 255, 255, 0.555);
      text-align: center;
      margin-right: 0px;
      padding: 20px 0;
    }
    .btn {
      display: block;
    }
  }
}

@media screen and (max-width: 500px) {
  .navigation {
    display: none;
  }
}

@media screen and (min-width: 992px) {
  .sabya {
    display: none;
  }
}
